/* base */
body {
	background-color: #aaa;
}

html,
body,
#app,
.os-host {
	width: 100%;
	height: 100%;
}

.c-cont-scope {
	width: 100%;
	margin: 0 auto;
}

.c-text-scope {
	width: 90%;
	margin: 0 auto;
}

.c-text-c {
	text-align: center;
}

.c-fl {
	float: left;
}

.c-fr {
	float: right;
}

.c-flex {
	display: flex;
}

.c-justify-space-between {
	justify-content: space-between;
}

.c-primary-color {
	color: #ccc;
}

.c-color-1 {
	color: #ff6600;
}

.c-color-2 {
	color: #ffcc66;
}

.c-bg-color-1 {
	background-color: #1a1a1a;
}

.c-bg-color-2 {
	background-color: #292929;
}

.c-figure-item {
	border-radius: 8px;
	overflow: hidden;
}


.c-img-box-1 img {
	width: 90%;
}

.c-img-box-2-1 {
	width: 43%;
}

.c-img-box-2-1 img {
	width: 100%;
	height: 75%;
}

.c-img-size-2-2 {
	width: 100%;
}


/* banner */
.c-banner {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: url('../images/banner.png') center top no-repeat rgba(26, 26, 26, 1);
	background-size: cover;
	z-index: 3000;
}


.c-banner-btn {
	width: 60px;
	height: 60px;
	background-color: #6b3815;
	border: none;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	/* bottom: 180px; */
	bottom: 18%;
	left: 50%;
	margin-left: -30px;
	cursor: pointer;
	z-index: 300;
}

/* header */

.c-header {
	background: url('../images/section-1-bg.png') center bottom no-repeat fixed;
	background-size: cover;
}

.c-banner-btn i {
	display: inline-block;
	width: 0;
	height: 0;
	margin: 7px 0 0 9px;
	border-style: solid;
	border-width: 13px 0 13px 22.5px;
	border-color: transparent transparent transparent #ff2205;
}

.c-header-hd {
	padding: 50px 0;
}

.c-header-hd-title {
	font-size: 32px;
	line-height: 36px;
	color: rgb(254, 254, 254);
	letter-spacing: 2px;
	width: 85%;
	margin: 0 auto;
	padding-bottom: 60px;
}

.c-header-hd-title::before {
	content: '“ ';
	font-size: 32px;
	font-family: fantasy;
}

.c-header-hd-title::after {
	content: '”';
	font-size: 32px;
	font-family: fantasy;
}

.c-header-hd-text {
	line-height: 30px;
	font-size: 22px;
	text-indent: 2em;
	font-weight: bold;
}

.c-header-hb {
	padding: 50px 0;
}

.c-header-hb-des {
	line-height: 32px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 38px;
	text-indent: 2em;
}


.c-header-hb-figcaption {
	padding-top: 20px;
	font-size: 15px;
	line-height: 30px;
	color: rgb(147, 147, 147);
}

.c-header-hb-text {
	font-size: 24px;
	color: rgb(219, 219, 219);
	padding: 50px 0;
}


/* c-section */

.c-section-item {
	padding: 50px 0;
}

.c-section-title {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	line-height: 70px;
	border-bottom: 2px solid #fff;
}

.c-section-text {
	padding-top: 26px;
	line-height: 30px;
	font-size: 20px;
	text-indent: 2em;
	font-weight: bold;
}

.c-section-text--light {
	color: rgb(255, 255, 255);
}

.c-section-figure {
	padding-top: 25px;
	margin-bottom: -36px;
}


.c-figure-img {
	width: 100%;
	position: relative;
}

.c-img-figcaption {
	line-height: 32px;
	font-size: 14px;
	padding-top: 12px;
	text-align: center;
}

.c-img-T {
	position: relative;
	font-size: 50px;
	top: -100px;
	display: block;
	text-align: center;
}

.c-img-box-2-1:first-child .c-img-T {
	color: #ff4700;
}

.c-img-box-2-1:last-child .c-img-T {
	color: #ffcc66;
}


.c-blockquote {
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	padding: 20px 0;
}

.c-motto {
	text-indent: 2em;
}

.c-cite {
	display: block;
	text-align: right;
	padding-top: 5px;
}

.c-cite::before {
	content: "——";
}

.c-chart-des {
	line-height: 32px;
	font-size: 16px;
	width: 80%;
	margin: 0 auto;
}

.c-cont-html {
	padding-top: 25px;
}

.c-footer {
	padding: 50px 10px;
	background-color: #000000eb;
	color: #fff;
}

.c-footer-list {
	padding: 25px 0;
}

.c-footer-litst-title {
	font-size: 22px;
	line-height: 40px;
}

.c-footer-litst-item {
	font-size: 15px;
	line-height: 30px;
}

/* 导航样式 */
.c-aside {
	position: fixed;
	left: 5%;
	top: 20%;
	z-index: 2000;
	visibility: hidden;
}

.c-aside-nav-link {
	color: #fff;
	display: block;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	cursor: pointer;
}

.c-aside-nav-link::before {
	content: " ";
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: #747470;
	border: solid 6px #41413f;
	position: relative;
	left: 50%;
	margin-left: -15px;
}

.c-aside-nav-link.active::before {
	background-color: #ffe400;
	border: solid 6px #7d710f;
}

.c-aside-nav-link::after {
	content: " ";
	display: block;
	height: 66px;
	border-left: #ccc 1px dashed;
	margin-left: 50%;
}

.c-aside-nav-item:last-child .c-aside-nav-link::after {
	display: none;
}


@media (min-width: 767px) {
	.c-cont-scope {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.c-cont-scope {
		width: 1100px;
	}

	.c-text-scope {
		width: 826px;
		margin: 0 auto;
	}

	.c-img-box-1 img {
		width: 826px;
	}

	.c-img-box-2-1 img {
		height: 664px;
	}

	.c-header-hd {
		padding: 205px 0;
	}

	.c-header-hd-title {
		font-size: 90px;
		line-height: 120px;
		width: 85%;
	}

	.c-header-hd-title::before,
	.c-header-hd-title::after {
		font-size: 96px;
	}

	.c-header-hd-text {
		padding: 50px 0;
		line-height: 60px;
		font-size: 24px;
	}

	.c-header-hb {
		padding: 35px 0;
	}

	.c-header-hb-des {
		line-height: 48px;
		font-size: 28px;
		padding-bottom: 68px;
	}

	.c-header-hb-figcaption {
		padding-top: 40px;
		font-size: 18px;
		line-height: 36px;
	}

	.c-header-hb-text {
		font-size: 50px;
		padding: 100px 0;
	}

	.c-section-item {
		padding: 100px 0;
	}

	.c-section-title {
		font-size: 24px;
		line-height: 90px;
	}

	.c-section-text {
		padding-top: 56px;
		line-height: 60px;
		font-size: 24px;
	}

	.c-section-figure {
		padding-top: 40px;
		margin-bottom: 0;
	}

	.c-img-figcaption {
		line-height: 36px;
		font-size: 18px;
		padding-top: 20px;
	}

	.c-blockquote {
		font-size: 18px;
		line-height: 48px;
		padding: 28px 0;
	}

	.c-chart-des {
		line-height: 36px;
		font-size: 18px;
	}

	/* 导航样式 */
	.c-aside {
		visibility: visible;
	}


	.c-footer-litst-title {
		font-size: 24px;
	}

	.c-footer-litst-item {
		font-size: 18px;
	}
}